// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
body {
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
span {
  margin-right: 5px;
}
label,
input,
button {
  margin-right: 2px;
}
input {
  text-shadow: none;
}
li {
  margin-bottom: 2px;
}
.playertotal {
  width: 100px;
}
.fa-plus,
.fa-trash {
  pointer-events: none;
}

//standing playlist

.played-name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 10px;
}
.played-score {
  font-weight: 900;
  font-size: 2.5rem;
}

select {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: #3095e7;
  padding: 4px;
  margin: 4px;
}

h5 {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 2rem;
}
.playertotal {
  margin-right: 5px;
  margin-left: 5px;
  background-color: $purple;
  padding: 8px;
  color: $white;
  font-weight: 600;
  border-radius: 5px;
  width: 75px;
  padding-bottom: 10px;
}
input.playerplace {
  width: 75px;
}
input.playerkills {
  width: 75px;
}
.score-span {
  font-size: 2.3rem;
  font-weight: 900;
  color: lightgray;
  text-align: left;
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.name-span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2ebf91;
  text-transform: uppercase;
  text-align: right;
}
