// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
body {
  line-height: 1;
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
span {
  margin-right: 5px;
}
label,
input,
button {
  margin-right: 2px;
}
input {
  text-shadow: none;
}
li {
  margin-bottom: 2px;
}
.playertotal {
  width: 100px;
}
.fa-plus,
.fa-trash,
.fa-check {
  pointer-events: none;
}

//standing playlist

.played-name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 10px;
}
.played-score {
  font-weight: 900;
  font-size: 2.5rem;
}

select {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: #3095e7;
  padding: 4px;
  margin: 4px;
}

//muri styles
.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.playertotal {
  margin-right: 5px;
  margin-left: 5px;
  background-color: $purple;
  padding: 8px;
  color: $white;
  font-weight: 600;
  border-radius: 5px;
  width: 75px;
  padding-bottom: 10px;
  display: inline-block;
}
input.playerplace {
  width: 75px;
}
input.playerkills {
  width: 75px;
}
.score-span {
  font-size: 2.3rem;
  font-weight: 900;
  color: lightgray;
  text-align: left;
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.name-span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2ebf91;
  text-transform: uppercase;
  text-align: right;
}
.standing-list-item {
  line-height: 0.8;
}
header {
  background-color: #ffd300;
  padding-bottom: 15px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-weight: 900;
  color: #ffc107;
  background-color: inherit;
  border-color: #dee2e6 #dee2e6 #fff;
  border: none;
}
.nav-item,
.nav-link {
  color: #d2dde9;
}
.nav-tabs {
  border-bottom: none;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: inherit;
  color: #ffc107;
}

//sortable table css
.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.st-name {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.st-score {
  font-weight: 900;
  font-size: 1.8rem;
}
